.env
/.venv

unsloth_compiled_cache/

unsloth_training_checkpoints/

outputs/

__pycache__/

#databasegroup - short term memory, conversation
checkpoints.sqlite-shm
checkpoints.sqlite-wal
checkpoints.sqlite

data/*.sqlite-shm
data/*.sqlite-wal
data/*.sqlite
data/flashrank_cache/


#long-term memory, knowledge base
rag_memory.sqlite
rag_memory.sqlite-shm
rag_memory.sqlite-wal

ICT283_rag_memory.sqlite
Stack_overflow_rag_memory.sqlite

.python-version

/data/flashrank_cache