.env
/.venv

unsloth_compiled_cache/

unsloth_training_checkpoints/

outputs/

__pycache__/

#databasegroup - short term memory, conversation
checkpoints.sqlite-shm
checkpoints.sqlite-wal
checkpoints.sqlite

#long-term memory, knowledge base
rag_memory.sqlite
rag_memory.sqlite-shm
rag_memory.sqlite-wal

.python-version